# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging / Build artifacts
build/
dist/TexturePig/
*.egg-info/
*.spec.bak

# Generated Qt resources (compiled from resources.qrc)
ui/icons_rc.py

# venvs
.venv/
venv/

# IDE/editor
.vscode/
.idea/

# OS cruft
.DS_Store
Thumbs.db
